<div class='my-20'>
  <div class=''>
    <% content_for(:title, t('.title')) %>
  </div>
  <div class='align-center'>
    <h1><%= t('.title') %></h1>
    <%= form_with url: password_resets_path, method: :post, local: true do |f| %>
      <div class='mb-10'>
        <%= f.label :email, User.human_attribute_name(:email), class: 'block mb-1' %>
        <%= f.email_field :email, class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
      <div class="actions text-center mt-10 mb-20">
        <%= f.submit ('送信'), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>