<h1 class="text-xl text-yellow-900 mb-5 font-zenmaru text-center font-bold"><%= t('.title') %></h1>
<div class='text-sm mb-5 grid card bg-base-200 rounded-box place-items-center p-5'>
  <p><%= t('.benefits_of_registering_html') %></p>
</div>
<%= form_with model: @user, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='my-5'>
    <%= f.label :email, class:'block mb-1' %>
    <%= f.email_field :email, class: 'w-full rounded border border-gray-200 p-2' %>
  </div>
  <div class="my-5">
    <%= f.label :password, class:'block mb-1' %>
    <%= f.password_field :password, class: 'w-full rounded border border-gray-200 p-2' %>
  </div>
  <div class="my-5">
    <%= f.label :password_confirmation, class:'block mb-1' %>
    <%= f.password_field :password_confirmation, class: 'w-full rounded border border-gray-200 p-2' %>
  </div>
  <div class="my-8 text-center" >
    <%= f.submit t('defaults.register'), class: 'btn btn-primary' %>
  </div>
<% end %>
