<h1>ユーザー登録</h1>
<%= form_with model: @user, local: true do |f| %>
  <div class='my-5'>
    <%= f.label :email, 'メールアドレス', class:'block mb-1' %>
    <%= f.email_field :email, class: 'w-full rounded border border-gray-200 p-2' %>
  </div>
  <div class="my-5">
    <%= f.label :password, 'パスワード', class:'block mb-1' %>
    <%= f.password_field :password, class: 'w-full rounded border border-gray-200 p-2' %>
  </div>
  <div class="my-5">
    <%= f.label :password_confirmation, 'パスワード確認', class:'block mb-1' %>
    <%= f.password_field :password_confirmation, class: 'w-full rounded border border-gray-200 p-2' %>
  </div>
  <div class="my-8 md:text-center" >
    <%= f.submit '登録', class: 'btn btn-primary' %>
  </div>
<% end %>
