<h1>ユーザー登録</h1>
<%= form_with model: @user, local: true do |f| %>
  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email %>
  </div>
  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード確認' %>
    <%= f.password_field :password_confirmation %>
  </div>
  <%= f.submit '登録' %>
<% end %>
<div class='text-center'>
  <%= link_to 'ログインページへ', '#' %>
</div>
