<nav class="fixed bottom-0 left-0 right-0 bg-orange-100 px-2 py-1">
  <ul class="flex justify-around items-center">
    <li class="mx-2">
      <%= link_to root_path do %>
        <button class="group inline-block text-yellow-900 text-center m-2">
          <i class="fa-solid fa-house fa-xl group-hover:text-sky-700"></i>
          <p class="icon-text group-hover:text-sky-700"><%= t('defaults.home') %></p>
        </button>
      <% end %>
    </li>
    <li class="mx-2">
      <%= link_to profile_cards_path do %>
        <button class="group inline-block text-yellow-900 text-center m-2">
          <i class="fa-solid fa-user-group fa-xl group-hover:text-sky-700"></i>
          <p class="icon-text group-hover:text-sky-700"><%= t('defaults.friends') %></p>
        </button>
      <% end %>
    </li>
    <li class="mx-2">
      <%= link_to my_pages_path do %>
        <button class="group inline-block text-yellow-900 text-center m-2">
          <i class="fa-solid fa-address-card fa-xl group-hover:text-sky-700"></i>
          <p class="icon-text group-hover:text-sky-700"><%= t('defaults.my_profile_card') %></p>
        </button>
      <% end %>
    </li>
  </ul>
</nav>