<div class="max-w-lg pb-20">
    <h1 class="text-xl text-yellow-900 my-2 font-zenmaru text-center font-bold"><%= t('.title') %></h1>
    <div class='my-10 p-3 grid card bg-base-200 rounded-box place-items-center'>
    <p class='text-center'><%= t('.description') %></p>
    </div>

    <%= turbo_frame_tag "image-list" do %>
      <div>
        <% @profile_cards.each do |profile_card| %>
          <div class='p-5 my-10'>
            <%= link_to edit_profile_card_path(profile_card) do %>
              <h1 class="text-xl font-zenmaru text-yellow-900 my-2 text-center font-bold"><%= profile_card.name %>ちゃんのプロフィールカード</h1>
              <%= image_tag profile_card.profile_card_data_a.to_s, class:'my-5' %>
              <%= image_tag profile_card.profile_card_data_b.to_s, class:'my-5' %>
              <%= image_tag profile_card.profile_card_data_c.to_s, class:'my-5' %>
              <%= image_tag profile_card.profile_card_data_d.to_s, class:'my-5' %>
              <%= image_tag profile_card.profile_card_data_e.to_s, class:'my-5' %>
              <%= image_tag profile_card.profile_card_data_f.to_s, class:'my-5' %>
            <% end %>
            <div class="flex my-2 justify-center">
              <div  class='btn btn-primary'>
                <%= link_to t('.view_result'), controller: :results, action: :result, id: profile_card.id %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <%= paginate(@profile_cards) %>
    <% end %>
  </div>
</div>
