<%= form_with model:profile_card, local: true do |f| %>
  <% if cookies[:kind] == "1" %>
    <div>
      <%= f.label :breed_id,"犬種" %><br>
      <%= f.select :breed_id,  Breed.dog.map{|breed|[breed.name, breed.id,{}]} %>
    </div>
    <p>※下記のおやつとオモチャは選択肢のもの以外に、入力していただくことも可能です</p>
    <div>
      <%= f.label :favorite_treat, "好きなおやつ" %><br>
      <%= f.text_field :favorite_treat, list: "dog-treat", autocomplete: "off" %>
      <datalist id="dog-treat">
        <option value="ちゅーる">
        <option value="歯磨きガム">
        <option value="にぼし">
        <option value="おいも">
        <option value="ジャーキー">
        <option value="チーズ">
        <option value="ささみ">
        <option value="ビスケット">
        <option value="ドライフルーツ">
      </datalist>
    </div>
    <div>
      <%= f.label :favorite_toy, "好きなオモチャ" %><br>
      <%= f.text_field :favorite_toy, list: "dog-toy",  autocomplete: "off" %>
      <datalist id="dog-toy">
        <option value="ボール">
        <option value="ぬいぐるみ">
        <option value="ロープ">
        <option value="コング">
        <option value="フリスビー">
        <option value="デンタルトイ">
      </datalist>
    </div>
  <% else %>
    <div>
      <%= f.label :breed_id, "猫種" %><br>
      <%= f.select :breed_id,  Breed.cat.map{|breed|[breed.name, breed.id,{}]} %>
    </div>
    <p>※下記のおやつとオモチャは選択肢のもの以外に、入力していただくことも可能です</p>
    <div>
      <%= f.label :favorite_treat, "好きなおやつ" %><br>
      <%= f.text_field :favorite_treat, list: "cat-treat", autocomplete: "off" %>
      <datalist id="cat-treat">
        <option value="ちゅーる">
        <option value="クリスピーキッス">
        <option value="かつお節">
        <option value="焼かつお">
        <option value="にぼし">
        <option value="かにかま">
        <option value="ささみ">
        <option value="ジャーキー">
      </datalist>
    </div>
    <div>
      <%= f.label :favorite_toy, "好きなオモチャ" %><br>
      <%= f.text_field :favorite_toy, list: "cat-toy", autocomplete: "off" %>
      <datalist id="cat-toy">
        <option value="ねこじゃらし">
        <option value="ぬいぐるみ">
        <option value="ぽんぽん">
        <option value="レーザーポインター">
        <option value="トンネル">
      </datalist>
    </div>
  <% end %>
  <div>
    <%= f.label :gender,"性別" %><br>
    <%= f.select :gender, [['男の子', "male"], ['女の子', "female"]], { include_blank: '選択してください' } %>
  </div>
  <div>
    <%= f.label :birthday,"お誕生日" %><br>
    <%= f.date_select :birthday, :use_month_numbers => true, class: 'form-control' %>
  </div>
  <div data-controller="preview-image">
    <%= image_tag profile_card.face_image.url,size: '300x200', data: { target: "preview-image.output",required: true } %>
    <%= f.label :face_image,"顔もしくは全身の写真" %><br>
    <%= f.file_field :face_image, data: {target: "preview-image.input", action: "preview-image#readURL" } %>
    <%= f.hidden_field :face_image_cache %>
  </div>
  <%= f.submit 'この内容でカードを作成する', class:'btn btn-primary' %>
<% end %>
