<div class='pb-10'>
  <%= form_with model:profile_card, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <% breed_idnos = [profile_card.breed_id.present? && profile_card.breed_id<=205, profile_card.breed_id.present? && profile_card.breed_id>=206] %>
    <% nos = ['1', '2'] %>
    <% dog_cat_kinds = ['犬種', '猫種'] %>
    <% dog_cats = [Breed.dog, Breed.cat] %>
    <% treats = ['dog_treat', 'cat_treat'] %>
    <% f_treats = [FavoriteTreatDog, FavoriteTreatCat] %>
    <% toys = ['dog-toy', 'cat_toy']%>
    <% f_toys = [FavoriteToyDog, FavoriteToyCat]%>

    <% breed_idnos.zip(nos, dog_cat_kinds, dog_cats, treats, f_treats, toys, f_toys).each{|breed_idno, no, dog_cat_kind, dog_cat, treat, f_treat, toy, f_toy| %>
      <% if (breed_idno) || cookies[:kind] == no %>
        <div class='my-10'>
          <%= f.label :breed_id, dog_cat_kind, class:'block mb-1' %>
          <%= f.select :breed_id, dog_cat.map{|breed|[breed.name, breed.id,{}]}, {}, class: 'w-full rounded p-2 border border-gray-200' %>
        </div>
        <div class='text-sm mb-5 grid card bg-base-200 rounded-box p-5'>
          <%= t('.favorite_treat_toy_description_html') %>
        </div>
        <div class='mt-5 mb-10'>
          <%= f.label :favorite_treat, class: 'block mb-1' %>
          <%= f.text_field :favorite_treat, list: treat, autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
          <datalist id= <%= treat %> >
            <% f_treat.all.each do |treat| %>
              <option value= <%= treat.name %> >
            <% end %>
          </datalist>
        </div>
        <div class='my-10'>
          <%= f.label :favorite_toy, class: 'block mb-1' %>
          <%= f.text_field :favorite_toy, list: toy,  autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
          <datalist id= <%= toy %> >
            <% f_toy.all.each do |toy| %>
              <option value= <%= toy.name %> >
            <% end %>
          </datalist>
        </div>
      <% end %>
    <% } %>
    <div class='my-10'>
      <%= f.label :gender, class: 'block mb-1' %>
      <%= f.select :gender, ProfileCard.genders.keys.map{|k|[I18n.t("enums.profile_card.gender.#{k}"),k]}, { include_blank: '選択してください' }, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class='my-10'>
      <%= f.label :birthday, class: 'block mb-1' %>
      <div class='flex'>
      <%= f.date_select :birthday, {use_month_numbers: true, start_year:Time.now.year, end_year:Time.now.year-30 }, class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
    </div>
    <div data-controller="preview-image" class='justify-center'>
      <%= image_tag profile_card.face_image.url,size: '300x200', data: { target: "preview-image.output",required: true } %>
      <%= f.label :face_image %>
      <%= f.file_field :face_image, data: {target: "preview-image.input", action: "preview-image#readURL" } ,class: 'w-full rounded border border-gray-200 p-2' %>
      <%= f.hidden_field :face_image_cache %>
    </div>
    <div class='text-sm mb-5'>
      <%= t('.face_image_description') %>
    </div>
    <div class='py-5'>
      <p>見本から作りたいカード背景を選択してください</p>
      <% base_imgs={'A': 'sample_profile_card_data_a.jpg', 'B': 'sample_profile_card_data_b.jpg', 'C': 'sample_profile_card_data_c.jpg','D': 'sample_profile_card_data_d.jpg'}%>
      <% base_imgs.each do |key,value| %>
        <div class='flex my-3'>
          <%= f.radio_button :card_type, key %>
          <%= image_tag value %>
        </div>
      <% end %>
      <div class='flex my-3'>
        <% insta_base_imgs={'G': 'base_img_g.png', 'H': 'base_img_h.png'} %>
        <% insta_base_imgs.each do |key,value| %>
          <div class='w-1/2 p-2'>
            <%= f.radio_button :card_type, key %>
            <%= image_tag value %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='my-5 text-center'>
      <%= f.submit t('.make_card_this_content'), class:'btn btn-primary' %>
    </div>
    <div class='text-sm mb-5 text-center'>
      <%= t('.create_card_description') %>
    </div>
  <% end %>
</div>
