<%= form_with model:profile_card, local: true do |f| %>
  <div class='mb-10'>
    <%= f.label :name,"名前", class: 'block mb-1' %>
    <%= f.text_field :name, class: 'w-full rounded border border-gray-200 p-2'%>
  </div>
  <div class='my-10'>
    <%= f.label :kind, '犬', value: 1 %>
    <%= f.radio_button :kind, '1' %>

    <%= f.label :kind, '猫', value: 2 %>
    <%= f.radio_button :kind, '2' %>
  </div>
  <div data-controller='preview-image'>
    <%= image_tag profile_card.pad_image.url,size: '300x200', data: { target: "preview-image.output",required: true } %>
    <%= f.label :pad_image,"肉球の写真" %>
    <%= f.file_field :pad_image, data: {target: "preview-image.input", action: "preview-image#readURL" }, class: 'w-full rounded border border-gray-300 p-2' %>
    <%= f.hidden_field :pad_image_cache %>
  </div>
  <div class='text-center mt-10 mb-20'>
    <%= f.submit '肉球性格診断をする', class:'btn btn-primary' %>
  </div>
<% end %>
