<div class='py-10'>
  <%= form_with model:profile_card, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% if cookies[:kind] == "1" %>
      <div class='my-10'>
        <%= f.label :breed_id,"犬種", class:'block mb-1' %>
        <%= f.select :breed_id,  Breed.dog.map{|breed|[breed.name, breed.id,{}]}, {}, class: 'w-full rounded p-2 border border-gray-200' %>
      </div>
      <p>※おやつとおもちゃは、選択肢のもの以外に入力していただくこともできます<br>
        ※選択肢を選び直すときは文字を消去してからお願いします<br>
        ★おやつとおもちゃは全角10文字までがおすすめです</p>
      <div class='mt-5 mb-10'>
        <%= f.label :favorite_treat, "好きなおやつ", class: 'block mb-1' %>
        <%= f.text_field :favorite_treat, list: "dog-treat", autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="dog-treat">
          <option value="ちゅーる">
          <option value="歯磨きガム">
          <option value="にぼし">
          <option value="おいも">
          <option value="ジャーキー">
          <option value="チーズ">
          <option value="ささみ">
          <option value="ビスケット">
          <option value="ドライフルーツ">
        </datalist>
      </div>
      <div class='my-10'>
        <%= f.label :favorite_toy, "好きなおもちゃ", class: 'block mb-1' %>
        <%= f.text_field :favorite_toy, list: "dog-toy",  autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="dog-toy">
          <option value="ボール">
          <option value="ぬいぐるみ">
          <option value="ロープ">
          <option value="コング">
          <option value="フリスビー">
          <option value="デンタルトイ">
        </datalist>
      </div>
    <% else %>
      <div class='my-10'>
        <%= f.label :breed_id, "猫種", class: 'block mb-1' %>
        <%= f.select :breed_id,  Breed.cat.map{|breed|[breed.name, breed.id,{}]}, {}, class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
      <div class='text-sm mb-5'>
        <p>※おやつとおもちゃは、選択肢のもの以外に入力していただくこともできます<br>
        ※選択肢を選び直すときは文字を消去してからお願いします<br>
        ★おやつとおもちゃは全角10文字までがおすすめです</p>
      </div>
      <div class='mb-10'>
        <%= f.label :favorite_treat, "好きなおやつ", class: 'block my-1' %>
        <%= f.text_field :favorite_treat, list: "cat-treat", autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="cat-treat">
          <option value="ちゅーる">
          <option value="クリスピーキッス">
          <option value="かつお節">
          <option value="焼かつお">
          <option value="にぼし">
          <option value="かにかま">
          <option value="ささみ">
          <option value="ジャーキー">
        </datalist>
      </div>
      <div class='my-10'>
        <%= f.label :favorite_toy, "好きなおもちゃ", class: 'block mb-1' %>
        <%= f.text_field :favorite_toy, list: "cat-toy", autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="cat-toy">
          <option value="ねこじゃらし">
          <option value="ぬいぐるみ">
          <option value="ぽんぽん">
          <option value="レーザーポインター">
          <option value="トンネル">
        </datalist>
      </div>
    <% end %>
    <div class='my-10'>
      <%= f.label :gender,"性別", class: 'block mb-1' %>
      <%= f.select :gender, [['男の子', "male"], ['女の子', "female"]], { include_blank: '選択してください' }, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class='my-10'>
      <%= f.label :birthday,"お誕生日", class: 'block mb-1' %>
      <div class='flex'>
      <%= f.date_select :birthday, {use_month_numbers: true, start_year:Time.now.year, end_year:Time.now.year-30, prompt:"--" }, class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
    </div>
    <div data-controller="preview-image" class='justify-center'>
      <%= image_tag profile_card.face_image.url,size: '300x200', data: { target: "preview-image.output",required: true } %>
      <%= f.label :face_image,"顔もしくは全身の写真" %>
      <%= f.file_field :face_image, data: {target: "preview-image.input", action: "preview-image#readURL" } ,class: 'w-full rounded border border-gray-200 p-2' %>
      <%= f.hidden_field :face_image_cache %>
    </div>
    <div class='my-5 text-center'>
      <%= f.submit 'この内容でカードを作成する', class:'btn btn-primary' %>
    </div>
    <div class='text-sm mb-5'>
      <p>★わんちゃんねこちゃんのお顔が真ん中にある画像を使うのがおすすめです</p>
    </div>
  <% end %>
</div>
