<div class='pb-10'>
  <%= form_with model:profile_card, data: { turbo: false }, local: true do |f| %>
    <% breed_idnos = [profile_card.breed_id.present? && profile_card.breed_id<=205, profile_card.breed_id.present? && profile_card.breed_id>=206] %>
    <% nos = ['1', '2'] %>
    <% dog_cat_kinds = ['犬種', '猫種'] %>
    <% dog_cats = [Breed.dog, Breed.cat] %>
    <% treats = ['dog_treat', 'cat_treat'] %>
    <% f_treats = [FavoriteTreatDog, FavoriteTreatCat] %>
    <% toys = ['dog-toy', 'cat_toy']%>
    <% f_toys = [FavoriteToyDog, FavoriteToyCat]%>

    <% breed_idnos.zip(nos, dog_cat_kinds, dog_cats, treats, f_treats, toys, f_toys).each{|breed_idno, no, dog_cat_kind, dog_cat, treat, f_treat, toy, f_toy| %>
      <% if (breed_idno) || cookies[:kind] == no %>
        <div class='my-10'>
          <%= f.label :breed_id, dog_cat_kind, class:'block mb-1' %><p class='text-xs'><%= t('.breed_select_description') %></p>
          <%= f.select :breed_id, dog_cat.map{|breed|[breed.name, breed.id,{}]}, {}, class: 'w-full rounded p-2 border border-gray-200' %>
        </div>
        <div class='text-sm mb-5 grid card bg-base-200 rounded-box p-5'>
          <%= t('.favorite_treat_toy_description_html') %>
        </div>
        <div class='mt-5 mb-10'>
          <%= f.label :favorite_treat, class: 'block mb-1' %>
          <%= f.text_field :favorite_treat, list: treat, autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
          <datalist id= <%= treat %> >
            <% f_treat.all.each do |treat| %>
              <option value= <%= treat.name %> >
            <% end %>
          </datalist>
        </div>
        <div class='my-10'>
          <%= f.label :favorite_toy, class: 'block mb-1' %>
          <%= f.text_field :favorite_toy, list: toy,  autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
          <datalist id= <%= toy %> >
            <% f_toy.all.each do |toy| %>
              <option value= <%= toy.name %> >
            <% end %>
          </datalist>
        </div>
      <% end %>
    <% } %>
    <div class='my-10'>
      <%= f.label :gender, class: 'block mb-1' %>
      <%= f.select :gender, ProfileCard.genders.keys.map{|k|[I18n.t("enums.profile_card.gender.#{k}"),k]}, { include_blank: '選択してください' }, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class='my-10'>
      <%= f.label :birthday, class: 'block mb-1' %>
      <div class='flex'>
      <%= f.date_select :birthday, {use_month_numbers: true, start_year:Time.now.year, end_year:Time.now.year-30 }, class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
    </div>
    <div data-controller="preview-image" class='justify-center'>
      <%= image_tag profile_card.face_image.url,size: '300x200', data: { target: "preview-image.output",required: true } %>
      <%= f.label :face_image %>
      <%= f.file_field :face_image, data: {target: "preview-image.input", action: "preview-image#readURL" } ,class: 'w-full rounded border border-gray-200 p-2' %>
      <%= f.hidden_field :face_image_cache %>
    </div>
    <div class='text-sm mb-5'>
      <%= t('.face_image_description') %>
    </div>
    <div class='selection-group'>
      <p class='py-5'><%= t('.select_card_description') %></p>
      <div data-controller="tabs">
        <div class="justify-between">
          <div class="tabs tabs-boxed w-full">
            <a class="tab tab-active" data-tabs-target="menu" data-action="tabs#menuClick"><%= t('defaults.twitter_header') %></a>
            <a class="tab not-active"  data-tabs-target="menu" data-action="tabs#menuClick"><%= t('defaults.instagram_story') %></a>
            <a class="tab not-active"  data-tabs-target="menu" data-action="tabs#menuClick"><%= t('defaults.wallpaper') %></a>
          </div>
        </div>
        <div data-tabs-target="content">
          <% base_img_a={'value': 'A', 'id': 'card_type_a', 'base': 'sample_profile_card_data_a.png', 'check': true} %>
          <% base_img_b={'value': 'B', 'id': 'card_type_b', 'base': 'sample_profile_card_data_b.png', 'check': ''} %>
          <% base_img_c={'value': 'C', 'id': 'card_type_c', 'base': 'sample_profile_card_data_c.png', 'check': ''} %>
          <% base_img_d={'value': 'D', 'id': 'card_type_d', 'base': 'sample_profile_card_data_d.png', 'check': ''} %>
          <% base_img_e={'value': 'E', 'id': 'card_type_e', 'base': 'sample_profile_card_data_e.png', 'check': ''} %>
          <% base_imgs=[base_img_a, base_img_b, base_img_c, base_img_d, base_img_e]%>
          <% base_imgs.each do |base_img| %>
            <div class='flex my-3'>
              <%= f.radio_button :card_type, base_img[:value], class: 'hidden', checked: base_img[:check] %>
              <%= f.label base_img[:id] do %>
                <%= image_tag base_img[:base] %>
              <% end %>
            </div>
          <% end %>
          <div class="pt-5">
            <h1 class="md:text-base text-sm text-yellow-900 my-2 font-zenmaru text-center font-bold">期間限定（2/11まで）</h1>
          </div>
          <div class='flex mb-3'>
            <%= f.radio_button :card_type, 'F', class: 'hidden', checked: '' %>
            <%= f.label 'card_type_f' do %>
              <%= image_tag 'sample_profile_card_data_f.png' %>
            <% end %>
          </div>
        </div>
        <div class="hidden" data-tabs-target="content">
          <div class='flex my-3 justify-center flex flex-wrap'>
            <% insta_base_img_g={'value': 'G', 'id': 'card_type_g', 'base': 'sample_profile_card_data_g.png'} %>
            <% insta_base_img_h={'value': 'H', 'id': 'card_type_h', 'base': 'sample_profile_card_data_h.png'} %>
            <% insta_base_img_i={'value': 'I', 'id': 'card_type_i', 'base': 'sample_profile_card_data_i.png'} %>
            <% insta_base_img_j={'value': 'J', 'id': 'card_type_j', 'base': 'sample_profile_card_data_j.png'} %>
            <% insta_base_img_k={'value': 'K', 'id': 'card_type_k', 'base': 'sample_profile_card_data_k.png'} %>
            <% insta_base_img_l={'value': 'L', 'id': 'card_type_l', 'base': 'sample_profile_card_data_l.png'} %>
            <% insta_base_imgs_g_l=[insta_base_img_g, insta_base_img_h, insta_base_img_i, insta_base_img_j, insta_base_img_k, insta_base_img_l] %>
            <% insta_base_imgs_g_l.each do |insta_base_img| %>
              <div class='w-1/2 p-2'>
                <%= f.radio_button :card_type, insta_base_img[:value], class:'hidden' %>
                <%= f.label insta_base_img[:id] do %>
                  <%= image_tag insta_base_img[:base] %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="hidden" data-tabs-target="content">
          <div class='flex my-3 justify-center flex flex-wrap'>
            <% wallpaper_base_img_m={'value': 'M', 'id': 'card_type_m', 'base': 'sample_profile_card_data_m.png'} %>
            <% wallpaper_base_img_n={'value': 'N', 'id': 'card_type_n', 'base': 'sample_profile_card_data_n.png'} %>
            <% wallpaper_base_img_o={'value': 'O', 'id': 'card_type_o', 'base': 'sample_profile_card_data_o.png'} %>
            <% wallpaper_base_img_p={'value': 'P', 'id': 'card_type_p', 'base': 'sample_profile_card_data_p.png'} %>
            <% wallpaper_base_img_q={'value': 'Q', 'id': 'card_type_q', 'base': 'sample_profile_card_data_q.png'} %>
            <% wallpaper_base_img_r={'value': 'R', 'id': 'card_type_r', 'base': 'sample_profile_card_data_r.png'} %>
            <% wallpaper_base_imgs_g_h=[wallpaper_base_img_m, wallpaper_base_img_n, wallpaper_base_img_o, wallpaper_base_img_p, wallpaper_base_img_q, wallpaper_base_img_r] %>
            <% wallpaper_base_imgs_g_h.each do |wallpaper_base_img| %>
              <div class='w-1/2 p-2'>
                <%= f.radio_button :card_type, wallpaper_base_img[:value], class:'hidden' %>
                <%= f.label wallpaper_base_img[:id] do %>
                  <%= image_tag wallpaper_base_img[:base] %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="justify-center pt-5 flex">
      <%= f.check_box :display_card, class:'checkbox checkbox-mg checkbox-primary mx-2'%>
      <%= f.label 'display_card' do %>
        <p>みんなのカードに表示する</p>
      <% end %>
    </div>
    <div class='my-5 text-center'>
      <%= f.submit t('.make_card_this_content'), class:'btn btn-primary' %>
    </div>
    <div class='text-sm mb-5 text-center'>
      <%= t('.create_card_description') %>
    </div>
  <% end %>
</div>
