<div class='pb-10'>
  <%= form_with model:profile_card, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <% if (profile_card.breed_id.present? && profile_card.breed_id <= 205) || cookies[:kind] == "1" %>
      <div class='my-10'>
        <%= f.label :breed_id,"犬種", class:'block mb-1' %>
        <%= f.select :breed_id,  Breed.dog.map{|breed|[breed.name, breed.id,{}]}, {}, class: 'w-full rounded p-2 border border-gray-200' %>
      </div>
      <div class='text-sm mb-5 grid card bg-base-200 rounded-box p-5'>
        <%= t('.favorite_treat_toy_description_html') %>
      </div>
      <div class='mt-5 mb-10'>
        <%= f.label :favorite_treat, class: 'block mb-1' %>
        <%= f.text_field :favorite_treat, list: "dog-treat", autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="dog-treat">
          <% FavoriteTreatDog.all.each do |treat| %>
            <option value= <%= treat.name %> >
          <% end %>
        </datalist>
      </div>
      <div class='my-10'>
        <%= f.label :favorite_toy, class: 'block mb-1' %>
        <%= f.text_field :favorite_toy, list: "dog-toy",  autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="dog-toy">
          <% FavoriteToyDog.all.each do |toy| %>
            <option value= <%= toy.name %> >
          <% end %>
        </datalist>
      </div>
    <% elsif (profile_card.breed_id.present? && profile_card.breed_id >= 206) || cookies[:kind] == "2" %>
      <div class='my-10'>
        <%= f.label :breed_id, "猫種", class: 'block mb-1' %>
        <%= f.select :breed_id,  Breed.cat.map{|breed|[breed.name, breed.id,{}]}, {}, class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
      <div class='text-sm mb-5 grid card bg-base-200 p-2'>
        <%= t('.favorite_treat_toy_description_html') %>
      </div>
      <div class='mb-10'>
        <%= f.label :favorite_treat, class: 'block my-1' %>
        <%= f.text_field :favorite_treat, list: "cat-treat", autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="cat-treat">
          <option value="ちゅーる">
          <option value="クリスピーキッス">
          <option value="かつお節">
          <option value="焼かつお">
          <option value="にぼし">
          <option value="かにかま">
          <option value="ささみ">
          <option value="ジャーキー">
        </datalist>
      </div>
      <div class='my-10'>
        <%= f.label :favorite_toy, class: 'block mb-1' %>
        <%= f.text_field :favorite_toy, list: "cat-toy", autocomplete: "off", class: 'w-full rounded border border-gray-200 p-2' %>
        <datalist id="cat-toy">
          <option value="ねこじゃらし">
          <option value="ぬいぐるみ">
          <option value="ぽんぽん">
          <option value="レーザーポインター">
          <option value="トンネル">
        </datalist>
      </div>
    <% end %>
    <div class='my-10'>
      <%= f.label :gender, class: 'block mb-1' %>
      <%= f.select :gender, ProfileCard.genders.keys.map{|k|[I18n.t("enums.profile_card.gender.#{k}"),k]}, { include_blank: '選択してください' }, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class='my-10'>
      <%= f.label :birthday, class: 'block mb-1' %>
      <div class='flex'>
      <%= f.date_select :birthday, {use_month_numbers: true, start_year:Time.now.year, end_year:Time.now.year-30 }, class: 'w-full rounded border border-gray-200 p-2' %>
      </div>
    </div>
    <div data-controller="preview-image" class='justify-center'>
      <%= image_tag profile_card.face_image.url,size: '300x200', data: { target: "preview-image.output",required: true } %>
      <%= f.label :face_image %>
      <%= f.file_field :face_image, data: {target: "preview-image.input", action: "preview-image#readURL" } ,class: 'w-full rounded border border-gray-200 p-2' %>
      <%= f.hidden_field :face_image_cache %>
    </div>
    <div class='text-sm mb-5'>
      <%= t('.face_image_description_html') %>
    </div>
    <div class='my-5 text-center'>
      <%= f.submit t('.make_card_this_content'), class:'btn btn-primary' %>
    </div>
  <% end %>
</div>
