<div class='max-w-lg'>
  <div class="my-10">
    <h1 class="text-xl text-yellow-900 my-2 font-zenmaru text-center font-bold"><%= t('.title_html') %></h1>
    <%= render 'form_edit', {profile_card: @profile_card} %>
  </div>
  <% if @profile_card.card_type.present? %>
    <div class='py-10'>
      <h1 class="text-xl text-yellow-900 font-zenmaru my-2 text-center font-bold"><%= t('.created_profile_card') %></h1>
      <div class='text-sm mb-5 grid card bg-base-200 rounded-box p-5'>
        <%= t('.created_profile_card_description_html') %>
      </div>
    </div>
    <% profile_card_datas = [@profile_card.profile_card_data_a, @profile_card.profile_card_data_b, @profile_card.profile_card_data_c, @profile_card.profile_card_data_d] %>
    <% profile_card_data_to_ss = [@profile_card.profile_card_data_a.to_s, @profile_card.profile_card_data_b.to_s, @profile_card.profile_card_data_c.to_s, @profile_card.profile_card_data_d.to_s] %>
    <% type_numbers = [1,2,3,4] %>
    <% types = ['a', 'b', 'c', 'd'] %>
    <% profile_card_datas.zip(profile_card_data_to_ss,type_numbers, types).each{|profile_card_data, profile_card_data_to_s, type_number, type| %>
      <% if profile_card_data.present? %>
        <div class="mb-20">
          <%= image_tag profile_card_data_to_s %>
          <div class="flex my-3 justify-center">
            <div class = 'btn btn-primary mx-2'>
              <%= link_to t('.save_card'), controller: 'downloads', action: 'download', id:@profile_card, card_type: type_number %>
            </div>
            <%= link_to t('.share_card'), "https://twitter.com/share?url=https://www.nikukyu-shindan.com/profile_cards/#{@profile_card.id}/tweet/#{type}/&text=#{@profile_card.name}ちゃんの%20%23にくきゅう診断%20の結果は%0a%23#{@profile_card.personality_i18n}%20でした", title: 'Twitter', target: '_blank',class:'btn bg-blue-400 text-white mx-2' %>
          </div>
        </div>
      <% end %>
    <% } %>
    <div class='flex my-3'>
      <% instagram_profile_card_datas_g_h = [@profile_card.profile_card_data_g, @profile_card.profile_card_data_h] %>
      <% instagram_profile_card_data_to_ss_g_h = [@profile_card.profile_card_data_g.to_s, @profile_card.profile_card_data_h.to_s] %>
      <% instagram_type_numbers_g_h = [7, 8] %>
      <% instagram_types_g_h = ['g', 'h'] %>
      <% instagram_profile_card_datas_g_h.zip(instagram_profile_card_data_to_ss_g_h, instagram_type_numbers_g_h, instagram_types_g_h).each{|profile_card_data, profile_card_data_to_s, type_number, type| %>
        <% if profile_card_data.present? %>
          <div class="mb-20 p-2 w-1/2">
            <%= image_tag profile_card_data_to_s %>
            <div class="text-center">
              <div class = 'btn btn-primary my-2'>
                <%= link_to t('.save_card'), controller: 'downloads', action: 'download', id:@profile_card, card_type: type_number %>
              </div>
              <%= link_to t('.share_card'), "https://twitter.com/share?url=https://www.nikukyu-shindan.com/profile_cards/#{@profile_card.id}/tweet/#{type}/&text=#{@profile_card.name}ちゃんの%20%23にくきゅう診断%20の結果は%0a%23#{@profile_card.personality_i18n}%20でした", title: 'Twitter', target: '_blank',class:'btn bg-blue-400 text-white mx-2' %>
            </div>
          </div>
        <% end %>
      <% } %>
    </div>
    <div class='flex'>
      <% instagram_profile_card_datas_i_j = [@profile_card.profile_card_data_i, @profile_card.profile_card_data_j] %>
      <% instagram_profile_card_data_to_ss_i_j = [@profile_card.profile_card_data_i.to_s,@profile_card.profile_card_data_j.to_s] %>
      <% instagram_type_numbers_i_j = [9, 10] %>
      <% instagram_types_i_j = ['i', 'j'] %>
      <% instagram_profile_card_datas_i_j.zip(instagram_profile_card_data_to_ss_i_j, instagram_type_numbers_i_j, instagram_types_i_j).each{|profile_card_data, profile_card_data_to_s, type_number, type| %>
        <% if profile_card_data.present? %>
          <div class="mb-20 p-2 w-1/2">
            <%= image_tag profile_card_data_to_s %>
            <div class="text-center">
              <div class = 'btn btn-primary my-2'>
                <%= link_to t('.save_card'), controller: 'downloads', action: 'download', id:@profile_card, card_type: type_number %>
              </div>
              <%= link_to t('.share_card'), "https://twitter.com/share?url=https://www.nikukyu-shindan.com/profile_cards/#{@profile_card.id}/tweet/#{type}/&text=#{@profile_card.name}ちゃんの%20%23にくきゅう診断%20の結果は%0a%23#{@profile_card.personality_i18n}%20でした", title: 'Twitter', target: '_blank',class:'btn bg-blue-400 text-white mx-2' %>
            </div>
          </div>
        <% end %>
      <% } %>
    </div>
    <div class='text-sm mb-5 grid card bg-base-200 rounded-box p-5'>
      <%= t('defaults.twitter_share_description_html') %>
    </div>
    <div class='py-10'>
      <% unless logged_in?  %>
        <%= render 'users/form', user:@user %>
        <%
=begin%>
 期間限定カードの宣伝を追加する時に使用
        <p><%= t('defaults.to_be_added') %></p>
        <div class='flex'>
          <%= image_tag 'christmas_sample1.png' %>
        </div>
<%
=end%>
      <% end %>
    </div>
  <% end %>
</div>
