<div>
  <div class="my-10">
    <h1 class="text-xl text-yellow-900 my-2 font-zenmaru text-center font-bold">診断結果からプロフィールカードを作成しよう！</h1>
    <%= render 'form_edit', {profile_card: @profile_card} %>
  </div>
  <% if @profile_card.profile_card_data_a.present? %>
    <div>
      <div class='py-10'>
      <h1 class="text-xl text-yellow-900 font-zenmaru my-2 text-center font-bold">作成したプロフィールカード</h1>
      <div class='text-sm text-center'>
        <p>最後に保存したカードが「みんなのカード」に載ります</p>
      </div>
      </div>
      <div class="mb-20">
        <%= image_tag @profile_card.profile_card_data_a.to_s %>
        <div class="flex my-3 justify-center">
          <%= link_to 'カードを保存する', download_a_profile_card_path(@profile_card), class:'btn btn-primary mx-2' %>
        </div>
      </div>
      <div class="mb-20">
        <%= image_tag @profile_card.profile_card_data_b.to_s %>
        <div class="flex my-3 justify-center">
          <%= link_to 'カードを保存する', download_b_profile_card_path(@profile_card), class:'btn btn-primary mx-2' %>
        </div>
      </div>
      <div class="mb-20">
        <%= image_tag @profile_card.profile_card_data_c.to_s %>
        <div class="flex my-3 justify-center">
          <%= link_to 'カードを保存する', download_c_profile_card_path(@profile_card), class:'btn btn-primary mx-2' %>
        </div>
      </div>
      <div class="mb-20">
        <%= image_tag @profile_card.profile_card_data_d.to_s %>
        <div class="flex my-3 justify-center">
          <%= link_to 'カードを保存する', download_d_profile_card_path(@profile_card), class:'btn btn-primary mx-2' %>
        </div>
      </div>
    </div>
    <div class='text-sm mb-2 grid card bg-base-200 rounded-box place-items-center p-5'>
      <p>最後に保存したカードをTwitterにシェアできます！</p>
    </div>
    <div class="flex pb-10 justify-center">
      <%= link_to 'カードをシェア', "https://twitter.com/share?url=#{request.url}/?n=#{@profile_card.card_type}/&text=#{@profile_card.name}ちゃんのにくきゅう診断の結果は%0a#{@profile_card.personality_i18n}でした
      %0a%23犬%20%20%23猫%20%23犬好きな人と繋がりたい%20%23猫好きな人と繋がりたい%20", title: 'Twitter', target: '_blank',class:'btn bg-blue-400 text-white' %>
    </div>
    <div class='py-10'>
      <% unless logged_in?  %>
        <%= render 'users/form' %>
      <% end %>
    </div>
  <% end %>
</div>
