<div class="max-w-lg pb-20">
    <h1 class="text-xl text-yellow-900 font-zenmaru my-2 text-center font-bold"><%= t('.title') %></h1>
    <%= turbo_frame_tag "image-list" do %>
      <div>
        <% @profile_cards.each do |profile_card| %>
          <div class='py-5'>
            <%= image_tag profile_card.profile_card_data_a.to_s if profile_card.card_type == "A" %>
            <%= image_tag profile_card.profile_card_data_b.to_s if profile_card.card_type == "B" %>
            <%= image_tag profile_card.profile_card_data_c.to_s if profile_card.card_type == "C" %>
            <%= image_tag profile_card.profile_card_data_d.to_s if profile_card.card_type == "D" %>
            <%= image_tag profile_card.profile_card_data_e.to_s if profile_card.card_type == "E" %>
            <%= image_tag profile_card.profile_card_data_f.to_s if profile_card.card_type == "F" %>
          </div>
        <% end %>
      </div>
      <%= paginate(@profile_cards) %>
    <% end %>
  </div>
</div>
