<h1>診断結果</h1>
<%= @profile_card.personality %>
<h1>肉球写真と診断結果からプロフィールカードを作成しよう！</h1>
<%= render 'form_show', {profile_card: @profile_card} %>
<%= image_tag @profile_card.binarize_image.url %>
<div>
  <%= image_tag @profile_card.profile_card_data_a.to_s %>
  <%= link_to 'このカードをダウンロードする', download_profile_card_path(@profile_card),class:'btn btn-primary' %>
</div>
<% unless logged_in?  %>
  <%= render 'users/form' %>
<% end %>
