<div class='my-20'>
  <div>
    <%= image_tag "top_page.PNG", class:'block mx-auto' %>
  </div>

  <div class="mt-20 mb-10 pt-20">
    <h1 class="md:text-base text-sm text-yellow-900 my-2 font-zenmaru text-center font-bold"><%= t('.site_description_html') %></h1>
  </div>
  <div class='md:flex text-sm mb-5 border-dotted border-2 border-yellow-700 rounded-box place-items-center p-5'>
    <div class='my-10'>
      <%= image_tag 'result_sample.png', width:'400', class:'block mx-auto' %>
    </div>
    <div class='my-10'>
      <%= image_tag 'profile_card_sample.png', width:'350', class:'block mx-auto' %>
    </div>
  </div>
  <div class='text-center pt-20'>
    <%= link_to t('defaults.take_test'), new_profile_card_path, class:'btn btn-primary' %>
  </div>

</div>