<div class="w-full max-w-md my-20">
  <h1 class="text-xl text-yellow-900 my-2 font-zenmaru text-center font-bold"><%= t('.title') %></h1>
  <%= form_with url: login_path, local: true do |f| %>
    <div class="my-10">
      <%= f.label :email, User.human_attribute_name(:email), class:'block mb-1' %>
      <%= f.email_field :email, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class="my-10">
      <%= f.label :password, User.human_attribute_name(:password), class:'block mb-1' %>
      <%= f.password_field :password, class: 'w-full rounded border border-gray-200 p-2' %>
    </div>
    <div class='text-center'>
      <div class='mt-10 mb-7'>
        <%= check_box_tag :remember, params[:remember], true %>
        <%= label_tag :remember, User.human_attribute_name(:remember_me) %>
      </div>
      <div>
        <%= f.submit t('defaults.login'), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
  <div class='text-center my-10'>
    <%= t('.password_forget') %>
    <%= link_to t('defaults.here'), new_password_reset_path, class: 'hover:underline' %>
  </div>
</div>
