<!DOCTYPE html>
<html data-theme='garden'>
  <head>
    <title>Nikukyu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body class="bg-orange-100">
    <% if logged_in? %>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <div class="container mx-auto px-5 flex justify-center content-center">
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <% if logged_in? %>
      <%= render 'shared/bottom_navbar' %>
    <% else %>
      <%= render 'shared/before_login_bottom_navbar' %>
    <% end %>
  </body>
</html>
